body {
  background-image: url(images/dessert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#heading {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#bingo > div {
  display: flex;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  border-width: 3px;
  border-color: rgb(255, 238, 250);
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  width: 10%;
}
#bingo {
  font-display: inherit;
}
#press {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 133, 154);
  border-color: aliceblue;
  width: 100%;
  height: 50px;
}
#theNumber {
  vertical-align: top;
  display: inline-block;
  color: black;
  font-size: large;
  width: 100%;
  height: 50px;
}
.number:hover {
  border-color: rgb(253, 232, 253);
  background-color: rgb(255, 130, 255);
  cursor: pointer;
}
.selected-number {
  border-color: rgb(253, 232, 253);
  background-color: rgb(223, 184, 255);
}
